p,
h3 {
    margin-bottom: 0.5rem;
}

.addButton {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: green;
        font-size: 16px;
        font-weight: 400;
        border: 1px solid green;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: green;
            color: white;
        }
    }
}


.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}